 <% if @user.posts.any? %>
<table class="table table-bordered border-primary table-hover table-sm posts_table" >
  <thead class="thead-dark">
    <tr>
      <th scope="col" style="width: 400px">タイトル</th>
      <th scope="col" style="width: 150px">投稿者</th>
      <th scope="col" style="width: 150px">投稿日</th>
      <!--<th scope="col" style="width: 80px">削除</th>-->
    </tr>
  </thead>
  <%= render @post %>
</table>
 <%= will_paginate @post %>
<% end %>