<li>
  <% if user[:image_url] && user.picture.url %>
    <%= image_tag user.picture.url, size: '50x50' %>
    <% user[:image_url] = nil %>
  <% elsif user.picture.url %>
    <%= image_tag user.picture.url, size: '50x50' %>
  <% elsif user[:image_url] %>
    <%= image_tag( user[:image_url], alt:"image_url", size: '50x50') %>
  <% else %>
    <%= image_tag( "https://2.bp.blogspot.com/-BpXX9_8NFXQ/XDXcNPuKVSI/AAAAAAABRHw/nc0RoP5sRgg92x_vvfpfHeyulE5Gvm-wwCLcBGAs/s800/hair_innercolor.png", alt:"image_url", size: '50x50') %>
  <% end %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
  | <%= link_to "削除", user, method: :delete,data: {confirm: "削除しますか？"}%>
  <% end %>
</li>