<% provide(:title, "プロフィール編集") %>
<h1>プロフィール編集</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <div class="post-new">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
      
      <div class="post-new">
        <%= f.label :description %>
        <%= f.text_field :description, class: 'form-control' %>
      </div>
      
      <div class="post-new">
        <%= f.label :picture %>
        <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
      </div>
　　　
　　　<div class= "delete-btn">
        <%= f.submit "変更", class: "btn btn-primary" %>
      </div>
    <% end %>
    
    <% if current_user?(@user) %>
      <%= link_to "(ユーザー情報削除)", @user,  method: :delete, data: { confirm: "本当に削除しますか?" } %>
    <% end %>
    
    <script type="text/javascript">
  $('#user_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('5MB以下でお願いします');
    }
  });
</script>
  </div>
</div>