<%= provide(:title, @user[:name] ) %>
<% if current_user?(@user) %>
<div class="row">
  <div class="col-12">
　  <h1>マイページ</h1>
　 </div>
</div>
<% end %>
<div class="row">
  <div class="col-md-3">
    <div class="user_info">
      <% if @user[:image_url] && @user.picture.url %>
        <%= image_tag @user.picture.url, size: '100x100' %>
        <% @user[:image_url] = nil %>
      <% elsif @user.picture.url %>
        <%= image_tag @user.picture.url, size: '100x100' %>
      <% elsif @user[:image_url] %>
        <%= image_tag( @user[:image_url], alt:"image_url", size: '100x100') %>
      <% else %>
        <%= image_tag( "https://2.bp.blogspot.com/-BpXX9_8NFXQ/XDXcNPuKVSI/AAAAAAABRHw/nc0RoP5sRgg92x_vvfpfHeyulE5Gvm-wwCLcBGAs/s800/hair_innercolor.png", alt:"image_url", size: '100x100') %>
      <% end %>
   
      <h4><%= @user[:name]%>
        <% if current_user?(@user) %>
          <small><%= link_to "(プロフィール編集)", edit_user_path(current_user) %> </small>
        <% end %>
      </h4>
    </div>
    <div class= "user-description">
      <p> <%= @user[:description]%> </p>
    </div>
  </div>
<div class="col-md-9">
  <ul class="nav nav-tabs" role="tablist">
    <li class="active" role="presentation">
      <a aria-controls="tab_a" data-toggle="tab" href="#tab_a" role="tab">投稿一覧(<%= @user.posts.count %>)</a>
    </li>
    <% if current_user?(@user) %>
    <li role="presentation">
      <a aria-controls="tab_b" data-toggle="tab" href="#tab_b" role="tab">お気に入り (<%= @posts.count %>)</a>
    </li>
    <% end %>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab_a" role="tabpanel">
      <%= render "users/show" %>
    </div>
    <% if current_user?(@user) %>
    <div class="tab-pane" id="tab_b" role="tabpanel">
  <%= render "users/show_favorite" %>
    </div>
    <% end %>
  </div>
</div>

  
</div>







 
 
 