<% if @feed_items.any? %>
  <ol class="posts">
    <%= render @feed_items %>
  </ol>
  <%= will_paginate @feed_items %>
<% end %>


  <tbody>
    <tr>
      <th scope="row"><%= post.title %></th>
      <td><%= link_to post.user.name, post.user %></td>
      <td> <%= time_ago_in_words(post.created_at) %> ago.</td>
      <td><%= time_ago_in_words(post.updated_at) %> ago.</td>
    </tr>
  </tbody>