<% provide(:title, "Treasureについて")%>
<div class= "container">
  <div class= "row text-center">
    <div class= "col-12">
      <h1 class="display-4">Treasureについて</h1>
    </div>
    <hr>
    <div class="col-12">
      <p>Treasureは勉強したことを発信して情報共有するサービスです。</p>
      <div class= "image">
        <img src= "https://3.bp.blogspot.com/-LsO5L9qhYSM/U9y_Ur1kljI/AAAAAAAAjaw/Hq67ktTqOpM/s800/pasokon_kyoushitsu.png"　alt="勉強したこと共有の画像">
        <h2>勉強したことを共有</h2>
        <p>自分自身が勉強したことを発信することで多くの人に見てもらえ、モチベーションアップにつながります。</p>
        <p>また、他のユーザーの勉強したことも確認できます。</p>
        <p>自分に必要な情報であればお気に入りにをつけることもできます。</p>
      </div>
      
      <div class= "image">
        <img src= "https://1.bp.blogspot.com/-l7rOoye37i0/WtRzDyV-0zI/AAAAAAABLjk/pVDqZA2_NkUaP1dprAlMOX8nnfkdJu6IACLcBGAs/s800/kabu_chart_woman.png" alt="主な機能の画像">
        <h2>主な機能</h2>
        <p>勉強内容の登録、閲覧、編集
           ユーザー検索機能
           お気に入りユーザーのフォロー機能
        </p>
      </div>
      
      <div class= "image">
        <img src= "https://1.bp.blogspot.com/-L0IgETW-DVQ/WGnPOQXqP6I/AAAAAAABA1k/jv1PTrTvRXcRRcDUFVc4HvYpZ_N6Ah1LgCLcB/s800/computer_note_good.png"　alt="無料の画像">
        <h2>無料で利用可能</h2>
        <p>無料で全機能利用可能です。Twitterアカウントですぐにログインできます。</p>
      </div>

      <%= link_to "ログイン/新規登録", "/auth/twitter", method: :post, class: "btn btn-lg btn-primary about-btn" %>
    </div>
  </div>
</div>