<% if logged_in? %>
  <div class="row">
    <div class="col-md-9">
      <h3>ランキング (TOP5)</h3>
      <% if @all_ranks.any? %>
        <table class="table table-bordered border-primary table-hover table-sm posts_table">
          <thead class="thead-dark">
            <tr>
              <th scope="col" style="width: 400px">タイトル</th>
              <th scope="col" style="width: 150px">投稿者</th>
              <th scope="col" style="width: 150px">投稿日</th>
              <!--<th scope="col" style="width: 80px">削除</th>-->
            </tr>
          </thead>
          <%= render @all_ranks %>
        </table>
      <% end %>
    </div>
    
    <div class="col-md-3" id= "search">
      <p>投稿検索<p>
      <%= form_tag(search_posts_path,:method => 'get') do %>
      <%= text_field_tag :search %>
      <%= submit_tag '検索', :name => nil %>
      <% end %>
    </div>
  </div>
    


<% else %>

  <div class="center jumbotron">
    <h1>Treasure</h1>
    <h2>勉強したことを公開しよう！</h2>
    <%= link_to "ログイン/新規登録", "/auth/twitter", method: :post, class: "btn btn-lg btn-primary" %>
  </div>

<% end %>