
  <tbody>
    <tr>
      <th scope="row"><%= link_to post.title, post_path(post) %></th>
      <td><%= link_to post.user.name, post.user %></td>
      <td> <%= time_ago_in_words(post.created_at) %>前</td>
      <% if current_user?(post.user) %>
     <td> <%= link_to "削除", post, method: :delete,
                                data: { confirm: "本当に削除しますか?" } %></td>
    <% end %>
    </tr>
  </tbody>
