<% provide(:title, "新規投稿") %>

<div class= "container">
  <div class="row">
    <div class="col-md-12">
      <h1>新規投稿</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class= "post">
        <%= form_for(@post) do |f| %>
          <%= render 'shared/error_messages', object: f.object %>
    
          <div class="post-new">
            <%= f.label :title %>
            <%= f.text_field :title, placeholder: "タイトルを記載してください", class: 'form-control' %>
          </div>
          
          <div class="post-new">
            <%= f.label :picture %>
            <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
          </div>
          
          <div class="post-new">
            <%= f.label :content %>
            <%= f.text_area :content, placeholder: "本文を記載してください", class: 'form-control', style: "height: 300px" %>
          </div>
          
          <div class= "delete-btn">
          <%= f.submit "投稿", class: "btn btn-primary" %>
          </div>
        <% end %>

        <script type="text/javascript">
          $('#post_picture').bind('change', function() {
          var size_in_megabytes = this.files[0].size/1024/1024;
          if (size_in_megabytes > 5) {
          alert('Maximum file size is 5MB. Please choose a smaller file.');}});
        </script>
      </div>
    </div>
  </div>
</div>