<% provide(:title, '検索結果') %>
<div class="row">
  <div class="col-12">
　  <h1>検索結果</h1>
　 </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
      <table class="table table-bordered border-primary table-hover table-sm posts_table">
        <thead class="thead-dark">
          <tr>
            <th scope="col" style="width: 400px">タイトル</th>
            <th scope="col" style="width: 150px">投稿者</th>
            <th scope="col" style="width: 150px">投稿日</th>
            <!--<th scope="col" style="width: 80px">削除</th>-->
          </tr>
        </thead>
        <%= render @posts %>
      </table>
      <%= will_paginate @posts %>
  </div>
</div>