<% provide(:title, "投稿詳細") %>

<div class= "row ">
  <div class= "col-md-12">
    <h1>投稿</h1>
  </div>
        <div class='favorite'>
    <% if !current_user?(@post.user) %>
    　<% if @post.favorite_by?(current_user) %> 
      　<%= link_to fa_icon("star 2x", text: "解除", class: "favorited"), post_favorites_path(@post.id), method: :delete %>
　　　<% else %>
  　　　　<%= link_to fa_icon("star 2x", text: "お気に入り",class: "favo") , post_favorites_path(@post.id), method: :post %>
    <% end %>
  <% end %>
  </div>
</div>
<div class= "row">
  <div class= "col-md-10 col-md-offset-1">
    <div class= "post-info">
      <table>
        <tr>
          <th>タイトル</th>
          <td><%= @post.title %></td>
        </tr>
        <tr>
          <th>投稿者</th>
          <td><%= @post.user.name %></td>
        </tr>
        <tr>
          <th>画像</th>
          <td><%= image_tag @post.picture.url if @post.picture? %></td>
        </tr>
        <tr>
          <th>本文</th>
          <td class="content"><%= @post.content %></td>
        </tr>
        <tr>
          <th>作成日</th>
          <td><%= time_ago_in_words(@post.created_at) %>前</td>
        </tr>
      </table>
    </div>
    <div class= "delete-btn">
      <% if current_user?(@post.user) %>
        <%= link_to "削除", @post, class: "btn btn-lg btn-primary", method: :delete, data: { confirm: "本当に削除しますか?" } %>
      <% end %>
    </div>
  </div>
</div>




