@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
  margin-top: 80px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  text-align:center;
}


/* header */

#logo {
  float: left;
  margin-right: 30px;
  margin-left: 30px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 10px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

// .navbar {
//   background-color: black;
// }

// .navbar-toggler{
//   display:none;
// }


// .navbar{
//   padding: .2rem;
// }

// .navbar-nav li {
//   padding-right: 70px;
//   padding-top:15px;
//   list-style: none;
// }


// .navitem{
//   color:gray;
//     &:hover {
//     color: white;
//     text-decoration: none;
//   }
// }





// .nav-link{
//   font-size: 1.1em !important;
// }

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

// about

.image{
  text-align:center;
  margin-top:80px;

  img{
    width:30%;
    height:30%;
}
  h2{
    font-weight:bold;
  }
}

.about-btn{
  margin-top:40px;
}

/* User info */

.user-description{
      width:240px;
    word-break: keep-all;
  p{
    text-align:left;
    margin-top:35px;
  }
}


/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

// post-show

.post-info{
  table{
  width: 100%;
  border-collapse: collapse;
    tr{
    border-bottom: solid 2px white;
      &:last-child{
      border-bottom: none;}}
    th{
    position: relative;
    text-align: left;
    width: 30%;
    background-color: #52c2d0;
    color: white;
    text-align: center;
    padding: 10px 0;}
    td{
    text-align: left;
    width: 70%;
    text-align: center;
    background-color: #eee;
    padding: 10px 0;}}}
    
.content{
  letter-spacing: 2px;
  line-height: 1.7em;
}

.delete-btn{
  text-align:center;
  margin-top:50px;
}

.favorite{
  float:right;
  margin-right:15%;
}

.favorited{
  color:yellow;
}

.favo{
  color:black;
}


// post-new

.post-new{
  margin-top:30px;
}

#search{
  margin-top:5px;
  p{
  text-align:left;
  margin-bottom:0;
}}

/*---Media Queries --*/
// @media (max-width: 992px) {
// .navbar-toggler{
  
// }
//   }
// @media (max-width: 767px) {
// .navbar-toggler{
//   display:block;
// }}