<footer class="footer">
  <small>
    2020 かわうそ
  </small>
  <nav>
    <ul>
      <li><%= link_to "Treasureについて", about_path %></li>
      <li><a href= 'https://twitter.com/@kawauso0287' target= "_blank" rel= "noopener">運営者</a></li>
    </ul>
  </nav>
</footer>