<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">

    <!-- 追記ここから-->
    <div class="navbar-header">

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- 追記ここまで-->

      <%= link_to "Treasure", root_path, id: "logo" %>

    <!-- 追記ここから-->
    </div>
    <!-- 追記ここまで-->

    <nav>
      <!-- ulタグ内に「id="navbar"」を追記、classに「navbar-collapse collapse」を追記 -->
      <ul id="navbar" class="nav navbar-nav navbar-right navbar-collapse collapse">
            <li><%= link_to "トップ", root_path %></li>
          <% if logged_in? %>
            <li><%= link_to 'マイページ', current_user %></li>
            <li><%= link_to '投稿する', new_post_path %></li>
            <li><%= link_to 'ユーザー一覧', users_path %></li>
            <li><%= link_to 'ログアウト', logout_path %></li>
          <% else %>
            <li><%= link_to "Treasureについて", about_path %></li>
            <li><%= link_to "ログイン/新規登録", "/auth/twitter", method: :post %></li>
          <% end %>
      </ul>
    </nav>
  </div>
</header>



      
      
      
